@import '../../scss/variables.scss';

.search-form {
  text-align: center;
  margin-bottom: 50px;

  &__description {
    font-size: 20px;
    margin-right: 20px;
  }
  &__input {
    width: 30%;
    height: 35px;
    background-color: transparent;
    color: $main-font-color;
    font-size: 20px;
    border: 2px solid $dark-red-border;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 auto;
  }
}
