@import '../../scss/variables.scss';

.showsList {
  border: 2px solid $dark-red-border;
  border-radius: 20px;
  padding: 40px;

  &__warning {
    font-size: 30px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, minmax(400px, auto));
    grid-auto-rows: minmax(400px, auto);
    gap: 40px;
    list-style: none;
  }
}

@media (max-width: 1439px) {
  .showsList {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, minmax(400px, auto));
      grid-auto-rows: minmax(400px, auto);
      gap: 30px;
    }
  }
}

@media (max-width: 1023px) {
  .showsList {
    &__list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, minmax(400px, auto));
      grid-auto-rows: minmax(400px, auto);
      gap: 30px;
    }
  }
}
